@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Barrio');

html {
  box-sizing: border-box;
  background:#ffc600;
  font-family: 'Amatic SC', helvetica, sans-serif;;
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0;
}
/*index page styles START---------------------------------------------*/
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #08B2E3;
}

h1 {
  display: none;
}

h3 {
  text-transform: uppercase;
  font-family: 'Barrio', cursive;
  font-size: 2em;
  text-align: center;
}

ul {
  list-style: none;
  border-radius: 15px;
  background-color: orange;
  padding: 0 10px;
  margin: 0 0 20%;
}

li {
  color: #fff;
  /*background: orange;*/
  font-size: 100%;
  padding: 0 10px;
}

img.corner {
  position: fixed;
  width: 20%;
}
/*.banner {
  background-color: #FF612F;
  border-radius: 100%;
  padding: 10px 30px;
  position: fixed;
  margin: 5%;
}*/

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.panel1 { background-image:url(../images/tech-background.jpg); }
.panel2 { background-image:url(../images/sports.png); }
.panel3 { background-image:url(../images/art-fin-dac.jpg); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/*flex items*/
.panel > h2 {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.panel ul { transform: translateY(-100%);}
.panel.open-active ul { transform: translateY(0);}*/
.panel ul { transform: translateY(300%);}
.panel.open-active ul { transform: translateY(0);}

.panel h2 {
  text-transform: uppercase;
  font-family: 'Barrio', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel h2 {
  font-size: 3em;
  transform: translateY(-10%);
}

.panel.open {
  flex: 5;
  font-size:40px;
}
/*index page styles END---------------------------------------------*/

/*LIST page styles START---------------------------------------------*/
#list-page h2 {
  margin-top: 25px;
}


/*LIST page styles END---------------------------------------------*/




.cta {
  color:white;
  text-decoration: none;
}
